====== Cobalt POD docs ======

This is a file listing for [[bots:cobalt|cobalt2]] POD.

It has been automatically converted to DokuWiki format.

(You may want to check out the [[bots:cobalt:docs:|main documentation index]])

[% FOREACH Category IN IndexItems.keys.sort %]

===== [% Category %] =====

 [% FOREACH LinkItem IN IndexItems.$Category.sort %]

  * [[[% LinkItem.Link %]|[% LinkItem.Title %]]]

 [% END %]

[% END %]
